body {
  min-width: 250px;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}
/* ------------------------------ HEADER ------------------------------ */
header {
  background: deepskyblue;
  color: white;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid green;
  justify-content: center;
  align-items: center;
}

header > a > img {
  max-width: 100px;
  max-height: 100px;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.nav-bar {
  display: flex;
  flex-direction: row;
}
nav > ul {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 10px auto auto;
  /* justify-content: center; */
  /* align-items: center; */
}
nav > ul > li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* flex-flow:row; */
  border: 1px solid black;
  list-style: none;
}
/* ------------------------------ SECTION ------------------------------ */
.main-content {
  display: flex;
  flex-direction: column;
}
.section-welcoming-msg {
  width: 100%;
}
.center-heading {
  text-align: center;
}
.article-main {
  max-width: 100%;
}
img {
    width: 100%;
}
.article-p {
 text-align: justify;
}
/* ------------------------------ FOOTER ------------------------------ */

/* ------------------------------ MEDIA QUERIES ------------------------------ */
@media screen and (min-width: 576px) {
  body {
    max-width: 80vh;
    margin: 0 auto auto auto;
    align-items: center;
  }
  header {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid green;
    justify-content: space-between;
    align-items: flex-end;
  }
  nav > ul {
    display: flex;
    flex-grow: 2;
    flex-direction: row;
    padding: 0;
    margin-right: 30px;
    justify-content: center;
    align-items: center;
  }
  nav > ul > li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid black;
    text-decoration: none;
  }
  header > a {
    margin-left: 30px;
  }
  #main-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .article-main {
    max-width: 250px;
    margin: 5px;
  }
  
}
